header.navbar
    background-color #0a243d
    color #fff
    border 0
    .links
        background-color #0a243d

aside.sidebar
    background-color #0a243d
    .nav-links
        border 0

.nav-links
    color #fff
    a:hover,
    a.router-link-active
        color #fff !important

main a img
    width: 30px
    position: relative
    top: 8px