:root {
  --vp-c-brand: #754983;
  --vp-c-brand-dark: #563661;
}

.dark {
  --vp-c-brand: #c1a2cb;
  --vp-c-brand-dark: #af87bc;
}

.VPContent a {
  text-decoration: underline;
}

.VPContent a.header-anchor,
.VPContent a:hover {
  text-decoration: none;
}
